@model Domain.Entities.Phone

@{
    ViewBag.Title = "Описание товара";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*<script src="~/Content/Scripts/expando.js"></script>*@

<div>
    <br />
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-left: 10px">
            <img class="img-responsive expando" width="280" height="250"
                 src="@Url.Action("GetImage", "Phones", new { Model.PhoneId })" />
        </div>
    }
    <h3>
        <strong>Модель устройства: @Model.Mark @Model.Model</strong>
        <br />
        <strong>Стоимость: @Model.Price.ToString("# руб")</strong>
    </h3>
    <h4>
        @Model.Description
    </h4>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.PhoneId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <a href="@Url.Action("List", "Phones")" class="btn btn-info">Вернуться назад</a>
            <input type="submit" class="btn btn-success" value="В корзину" />
        </div>
    }
</div>

